{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Приведите в порядок свои дела</h1>
                 <br>
            <p> Жизнь прекрасна. Но она наполнена делами. Дела требуют их выполнения. Для этого мы должны помнить о всех намеченных делах. Многое зависит от того <u>все ли мы выполняем из запланированного.</u> Мы создали <b><i>Todo List</i></b>, чтобы помочь вам организовать ваши дела.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'loginuser' %}">Начать</a>
        </div>
    </div>

{% endblock %}
